body {
    background-image: url("https://uorocketry.ca/images/icon.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.roleDropDown {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 2vh 1vw 2vh 8vw;
    list-style-type: none;
    background: #e3ffe3;
    font-size: 3vh;
    transition: 0.2s;
}

ul li:nth-child(odd) {
    background: #ace8ac;
}

ul li:hover {
    background: #ddd;
}

ul li.completed {
    background: #3a3a3a;
    color: #fff;
    text-decoration: line-through;
}